{% extends 'layout.html.twig' %}

{% block body %}

{% include 'header.html.twig'  %}
{# ...or you can read and display every flash message available #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="container">
    <h2> {% trans %}Welcome-message{% endtrans %}  </h2>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('login') }}">ingresar</a></h3>

    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('users_page') }}">AQUI Usuarios</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('admin_page') }}">AQUI Administradores</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('registration') }}">AQUI Registrarse</a></h3>
</div>

{% endblock %}