{% extends 'layout.html.twig' %}

{% block body %}

{% include 'header.html.twig'  %}
{# ...or you can read and display every flash message available #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="container">

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://previews.123rf.com/images/monsitj/monsitj1606/monsitj160600003/57574562-Programming-code-abstract-technology-background-of-software-developer-and-Computer-script-Stock-Photo.jpg">
                </div>
                <a href="#!user"><img class="circle" src="apple-touch-icon.png"></a>
                <a href="#!name"><span class="white-text name">John Doe</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    
    
    <h2> {% trans %}Welcome-message{% endtrans %}  </h2>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large btn-floating grey darken-3"><i class="material-icons">menu</i></a> 
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('login') }}">ingresar</a></h3>

    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('users_page') }}">AQUI Usuarios</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('admin_page') }}">AQUI Administradores</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('registration') }}">AQUI Registrarse</a></h3>
</div>

{% endblock %}